body {
    font-family: Consolas;
    background: #ffffcc;
}

.header, .footer {
    font-weight: bold;
}

h4 {
    margin-bottom: 0;
    color: rgb(160, 0, 0);
}

p {
    margin-top: 0;
    margin-left: 4em;
}

.left, .center, .right {
    display: inline-block;
}

.left {
    text-align: left;
    width: 32%;
}

.right {
    text-align: right;
    width: 32%;
}

.center {
    text-align: center;
    width: 32%;
}
